<h1>Dashboard</h1>
<br>
<div class="row">
    <div *ngFor="let curr of tickerService.currencies" class="col-md-2">
        <div><h2>{{curr}}</h2>
        <div>Einkauf: {{ticker[curr].buy}} {{ticker[curr].symbol}}</div>
        <div>Verkauf: {{ticker[curr].sell}} {{ticker[curr].symbol}}</div>
        <div>*Preis pro Bitcoin</div>
    </div>
        
    </div>
</div>
<br>
<div class="row">

    <div class="col-md-4">
        <h3>Aktuelles Guthaben:</h3>
        <div><h5>{{myBitcoins}} BTC / {{coinsInEur}} {{ticker["EUR"].symbol}}</h5></div>
    </div>



</div>